html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.burger-container {
  background-color: rgb(132, 95, 131);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  /* Ensure buttons are stacked vertically */
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  /* Add space above the controls */
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 700px;
  /* Adjust width as needed */
  height: 50px;
  /* Adjust height as needed */
  border: none;
  border-radius: 5px;
  /* Rounded corners */
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  /* Padding inside buttons */
}

.controls button:hover {
  background-color: #0056b3;
}